Técnico em Desenvolvimentos de Sistemas/Iot/node-red/umidadeTemperatura.json
[
    {
        "id": "9d088f69695a5959",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4b9c74ca8f30374",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f2c5610bdeb8b1aa",
        "type": "ui_tab",
        "name": "Umidade",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2f83b7130b678866",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "f2c5610bdeb8b1aa",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "31838ab196dc54b8",
        "type": "ui_tab",
        "name": "Temperatura",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "495d3a7311eb72d8",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "31838ab196dc54b8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfa355fb781383dc",
        "type": "tcp in",
        "z": "9d088f69695a5959",
        "name": "",
        "server": "client",
        "host": "10.74.241.117",
        "port": "555",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "8175a3948539318e",
                "7c29267ab5d6c121"
            ]
        ]
    },
    {
        "id": "8175a3948539318e",
        "type": "debug",
        "z": "9d088f69695a5959",
        "name": "debug1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "e2e28418f70ce2fe",
        "type": "debug",
        "z": "9d088f69695a5959",
        "name": "debugMessageJson",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "7c29267ab5d6c121",
        "type": "function",
        "z": "9d088f69695a5959",
        "name": "createJsonDatas",
        "func": "// Mantem valores anteriores\ncontext.data = context.data || { TEMP: null, UMID: null };\nlet linha = msg.payload;\n\nif (linha.startsWith('TEMP=')) {\n    context.data.TEMP = parseFloat(linha.split('=')[1]);\n} else if (linha.startsWith('UMID=')) {\n    context.data.UMID = parseFloat(linha.split('=')[1]);\n}\n\nif (context.data.TEMP !== null && context.data.UMID !== null) {\n    let msgOut = { payload: { TEMP: context.data.TEMP, UMID: context.data.UMID } };\n    return msgOut;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "e2e28418f70ce2fe",
                "99d4c2904b517847",
                "227f20c37f3e9426"
            ]
        ]
    },
    {
        "id": "a7f0fdce6bf17479",
        "type": "ui_gauge",
        "z": "9d088f69695a5959",
        "name": "Temperatura",
        "group": "495d3a7311eb72d8",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura(ºC)",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "991d0d3c670ca794",
        "type": "ui_gauge",
        "z": "9d088f69695a5959",
        "name": "Umidade",
        "group": "2f83b7130b678866",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Umidade(%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "f0a6f19d61114d3b",
        "type": "ui_chart",
        "z": "9d088f69695a5959",
        "name": "Gráfico Temperatura",
        "group": "495d3a7311eb72d8",
        "order": 2,
        "width": "6",
        "height": "3",
        "label": "Temperaura(ºC)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "50",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "29254cf71dcaff83",
        "type": "ui_chart",
        "z": "9d088f69695a5959",
        "name": "Grafico Umidade",
        "group": "2f83b7130b678866",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "Umidade(%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "227f20c37f3e9426",
        "type": "change",
        "z": "9d088f69695a5959",
        "name": "UMID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.UMID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "991d0d3c670ca794",
                "29254cf71dcaff83"
            ]
        ]
    },
    {
        "id": "99d4c2904b517847",
        "type": "change",
        "z": "9d088f69695a5959",
        "name": "TEMP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.TEMP",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "a7f0fdce6bf17479",
                "f0a6f19d61114d3b"
            ]
        ]
    },
    {
        "id": "7a8e8bee3c2147b9",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]