Técnico em Desenvolvimentos de Sistemas/Iot/! Projetos/bancada_esp_mqtt_oficial/Flow Corrigido.json
[
    {
        "id": "d080c5990b5aca61",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2d2c5be8de49419",
        "type": "mqtt-broker",
        "name": "mqttSub",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "07c8f0e8e8482094",
        "type": "mqtt in",
        "z": "d080c5990b5aca61",
        "name": "",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b2d2c5be8de49419",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "04c2254f66a87ad5"
            ]
        ]
    },
    {
        "id": "017bde338dcb447a",
        "type": "mqtt out",
        "z": "d080c5990b5aca61",
        "name": "",
        "topic": "/smart",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2d2c5be8de49419",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b7f5d38934945c3",
        "type": "debug",
        "z": "d080c5990b5aca61",
        "name": "Dados Recebidos",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "8746bae03c075c3d",
        "type": "aedes broker",
        "z": "d080c5990b5aca61",
        "name": "broker_server",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "04c2254f66a87ad5",
        "type": "function",
        "z": "d080c5990b5aca61",
        "name": "function 1",
        "func": "let payload = msg.payload;\n\n// Usa objeto em vez de array para evitar duplicados\nlet data = context.get(\"data\") || {};\n\n// Se payload for string, tenta corrigir e parsear\nif (typeof payload === \"string\") {\n    try {\n        // Adiciona aspas somente se faltar\n        payload = payload.replace(/\"value\"\\s*:\\s*([^\",}\\]\\s][^,}\\]]*)/g, '\"value\":\"$1\"');\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.warn(\"Erro ao ajustar JSON: \" + e.message + \" | Payload: \" + payload);\n        return null;\n    }\n}\n\n// Função para atualizar o objeto de dados, ignorando valores inválidos\nfunction updateData(item) {\n    if (!item.variable) return; // ignora se não houver variável\n    if (item.value === null || item.value === \"null\" || item.value === \"\") return; // ignora valores inválidos\n    data[item.variable] = item.value;\n}\n\nif (Array.isArray(payload)) {\n    payload.forEach(updateData);\n} else if (typeof payload === \"object\" && payload !== null) {\n    updateData(payload);\n}\n\n// Salva no contexto\ncontext.set(\"data\", data);\n\n// Retorna o objeto completo como JSON\nmsg.payload = JSON.stringify(data, null, 2);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "3b7f5d38934945c3",
                "44fff9e724da17ef"
            ]
        ]
    },
    {
        "id": "44fff9e724da17ef",
        "type": "json",
        "z": "d080c5990b5aca61",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "017bde338dcb447a"
            ]
        ]
    }
]